:root {
  /* --primary-rgb: 33, 150, 244; */
  --blue-rgb: 33 150 243;
  --primary-rgb: var(--blue-rgb);
}

.spaceshipContainer {
  position: absolute;
  left: var(--positionX);
  top: var(--positionY);
  z-index: 1;
  display: flex;
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
}

.spaceship {
  cursor: pointer;
  transform: scale(0);
  position: absolute;
  animation: wrap 0.3s ease-in-out forwards;
  animation-delay: 0.2s;
}

/* .spaceshipContainer[aria-selected="true"]::after {
  content: "";
  position: absolute;
  left: calc(100% + 1rem);
  transform: rotate(270deg);
  background-image: linear-gradient(rgb(var(--primary-rgb) / 80%), transparent);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  width: 200px;
  height: 200px;
} */

.portal {
  width: 100px;
  height: 100px;
  position: absolute;
  background: hsl(180, 85%, 56%);
  animation: portal 0.5s ease-in-out forwards;
  border-radius: 100%;
  -webkit-box-shadow: 4px 10px 41px 8px rgba(21, 143, 143, 0.69);
  -moz-box-shadow: 4px 10px 41px 8px rgba(21, 143, 143, 0.69);
  box-shadow: 4px 10px 41px 8px rgba(21, 143, 143, 0.69);
}

@keyframes wrap {
  0% {
    transform: scale(0);
  }
  /* 75% {
    transform: translate(-10%, -10%) scale(1);
  } */
  100% {
    transform: scale(1);
  }
}

@keyframes portal {
  0% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}


.hologramWrapper {
  position: fixed;
  top: 5%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.hologramScreen {
  width: 900px;
  aspect-ratio: 16 / 9;
  border: 3px solid rgb(var(--primary-rgb) / 80%);
  border-radius: 1rem;
  background-color: rgb(var(--primary-rgb) / 15%);
  overflow: hidden;
  position: relative;
}

.hologramImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1528722828814-77b9b83aafb2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  filter: sepia(100%) hue-rotate(160deg);
  opacity: 1;
  animation: pan-image 20s linear infinite;
}

.screenOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgb(var(--primary-rgb) / 0.15),
    rgb(var(--primary-rgb) / 0.15) 3px,
    transparent 3px,
    transparent 9px
  );
  background-size: 100% 9px;
  animation: pan-overlay 22s infinite linear;
  z-index: 2;
}

.hologramContent {
  position: relative;
  z-index: 3;
  padding: 20px;
  color: #fff;
}

.closeButton {
  position: absolute !important;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

@keyframes pan-overlay {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 0% -100%;
  }
}


@keyframes pan-image {  
  0% {
    background-position: 36% 42%;
    background-size: 250%;
  }
  
  20% {
    background-position: 30% 35%;
    background-size: 250%;
  }
  
  20.0001% { /* -- View 2 -- */
    background-position: 60% 85%;
    background-size: 350%;
  }
  
  40% {
    background-position: 49% 81%;
    background-size: 350%;
  }
  
  40.0001% { /* -- View 3 -- */
    background-position: 80% 42%;
    background-size: 300%;
  }
  
  60% {
    background-position: 84% 33%;
    background-size: 300%;
  }
  
  60.0001% { /* -- View 4 -- */
    background-position: 0% 0%;
    background-size: 300%;
  }
  
  80% {
    background-position: 15% 4%;
    background-size: 300%;
  }
  
  80.0001% { /* -- View 5 -- */
    background-position: 80% 10%;
    background-size: 300%;
  }
  
  100% {
    background-position: 72% 14%;
    background-size: 300%;
  }
}
